/* #productColumns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
} */

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  #card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  #card:hover #footerBtn {
    opacity: 1;
  }

  #footerBtn {
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    opacity: 0;
  }
}
